@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);

html {
  font-family: 'Varela Round', sans-serif;
  line-height: 120%;
}

body {
  background-color: #1abc9c; //#36d7b7
}

h1 {
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 3.75%;
  font-size: 2.5em;
  padding-left: 5%;
  letter-spacing: 0.04em;

  @media only screen and
  (max-width:1020px) {
    padding-left: 7%;
  }

  @media only screen and
  (max-width:735px) {
    padding-left: 7%;
  }

  @media only screen and
  (max-width:500px) {
    padding-left: 7%;
    padding-top: 8%;
    padding-bottom: 8%;
  }
}

.task-input {
  font-family: 'Varela Round', sans-serif;
  color: dimgray;
  font-size: 1em;
  padding: .5em;
  margin-bottom: 8%;
  border: none;
  border-radius: 10px;

  &:focus {
    border: none;
    outline: none;
    box-shadow: inset;
    color: dimgray;
  }

  &:hover {
    border: none;
    outline: none;
    box-shadow: none;
  }

  &:active {
    border: none;
    outline: none;
    box-shadow: none;
  }

  @media only screen and
  (max-width:500px) {
    // width: 100%;
    padding: .5em;
    font-size: .8em;
    width: 260px;
  }

}

main {
  color: #fff;
  padding-left: 5%;
  padding-bottom: 6.25%;
  font-size: 2em;
  line-height: 140%;
}

.remove-task {
  color: #1abc9c;
  padding-left: 2%;
  cursor: pointer;

  &:hover {
    color: #fff;
    opacity: .7;
  }

}

.add-task {
  padding: 3% 4.5% 3% 4.5%;
  border-radius: 15%;
  background-color: #c0392b;
  cursor: pointer;

  &:hover {
    background-color: #e74c3c;
    color: #fff;
  }

  @media only screen and
  (max-width:735px) {
    padding: 2.7% 4.5% 2.6% 4.5%;
    position: relative;
  }

  @media only screen and
  (max-width:500px) {
    padding: 2.3% 5% 3% 5.3%;
    position: relative;
  }

}

form {
  float: left;
  width: 50%;

  @media only screen and
  (max-width:1020px) {
    width: 70%;
    padding-left: 2%;
  }

  @media only screen and
  (max-width:735px) {
    width: 100%;
  }

  @media only screen and
  (max-width:500px) {
    width: 100%;
    padding-left: 2%;
  }
}

ul {
  font-size: 1em;
  line-height: 140%;
  padding-left: 5%;
  list-style-type: disc;

  @media only screen and
  (max-width:500px) {
    width: 100%;
    padding-left: 6%;
    font-size: .8em;
  }
}

h2 {
  font-size: 1.4em;
  padding-bottom: 3%;
}

img {
  width: 50%;
  max-width: 100%;
  float: right;
  padding-top: 0;

  @media only screen and
  (max-width:735px) {
    clear: both;
    display: block;
    width: 100%;
    padding-top: 10%;
  }

  @media only screen and
  (max-width:500px) {
    clear: both;
    display: block;
    width: 100%;
    padding-top: 10%;
  }

}

//footer
//#87d37c
//#be90d4
//#ecf0f1 gray
//#03a678 emerald
//#81cfe0 light blue

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
