/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Varela+Round);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: 'Varela Round', sans-serif;
  line-height: 120%; }

body {
  background-color: #1abc9c; }

h1 {
  color: #fff;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 3.75%;
  font-size: 2.5em;
  padding-left: 5%;
  letter-spacing: 0.04em; }
  @media only screen and (max-width: 1020px) {
    h1 {
      padding-left: 7%; } }
  @media only screen and (max-width: 500px) {
    h1 {
      padding-top: 8%;
      padding-bottom: 8%; } }

.task-input {
  font-family: 'Varela Round', sans-serif;
  color: dimgray;
  font-size: 1em;
  padding: .5em;
  margin-bottom: 8%;
  border: none;
  border-radius: 10px; }
  .task-input:focus {
    border: none;
    outline: none;
    box-shadow: inset;
    color: dimgray; }
  .task-input:hover {
    border: none;
    outline: none;
    box-shadow: none; }
  .task-input:active {
    border: none;
    outline: none;
    box-shadow: none; }
  @media only screen and (max-width: 500px) {
    .task-input {
      padding: .5em;
      font-size: .8em;
      width: 260px; } }

main {
  color: #fff;
  padding-left: 5%;
  padding-bottom: 6.25%;
  font-size: 2em;
  line-height: 140%; }

.remove-task {
  color: #1abc9c;
  padding-left: 2%;
  cursor: pointer; }
  .remove-task:hover {
    color: #fff;
    opacity: .7; }

.add-task {
  padding: 3% 4.5% 3% 4.5%;
  border-radius: 15%;
  background-color: #c0392b;
  cursor: pointer; }
  .add-task:hover {
    background-color: #e74c3c;
    color: #fff; }
  @media only screen and (max-width: 735px) {
    .add-task {
      padding: 2.7% 4.5% 2.6% 4.5%;
      position: relative; } }
  @media only screen and (max-width: 500px) {
    .add-task {
      padding: 2.3% 5% 3% 5.3%;
      position: relative; } }

form {
  float: left;
  width: 50%; }
  @media only screen and (max-width: 1020px) {
    form {
      width: 70%;
      padding-left: 2%; } }
  @media only screen and (max-width: 735px) {
    form {
      width: 98%;
      padding-left: 2%; } }
  @media only screen and (max-width: 500px) {
    form {
      width: 98%;
      padding-left: 2%; } }

ul {
  font-size: 1em;
  line-height: 140%;
  padding-left: 5%;
  list-style-type: disc; }
  @media only screen and (max-width: 500px) {
    ul {
      width: 100%;
      padding-left: 6%;
      font-size: .8em; } }

h2 {
  font-size: 1.4em;
  padding-bottom: 3%; }

img {
  width: 50%;
  max-width: 100%;
  float: right;
  padding-top: 0; }
  @media only screen and (max-width: 735px) {
    img {
      clear: both;
      display: block;
      width: 100%;
      padding-top: 10%;
      margin-right: -6%; } }
  @media only screen and (max-width: 500px) {
    img {
      clear: both;
      display: block;
      width: 100%;
      padding-top: 10%; } }

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/*# sourceMappingURL=styles.css.map */
